.distance-counter {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.form {
  display: flex;
  justify-content: space-between;
}

.form-element {
  display: flex;
  flex-direction: column;
}

.input-description {
  padding-left: 15px;
}

.form-input {
  width: 200px;
  height: 45px;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 10px;
  box-sizing: border-box;
}

.add-btn {
  width: 80px;
  height: 45px;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 30px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 70px 15px 40px;
}

.distance-items {
  min-height: 45px;
  border: 2px solid black;
  border-radius: 20px;
}

.item-list {
  list-style: none;
  padding: 7px 90px 7px 40px;
}

.item {
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  border: none;
  background-color: white;
}

